<p-menubar>
    <ng-template #start>
        <div class="flex align-items-center gap-2">
            <p-button icon="pi pi-bars" aria-label="menu" class="btn-menu" (click)="openMenu($event)"/>
            <h1 class="title">Hotel List</h1>
        </div>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
    </ng-template>
</p-menubar>