<p-card>
    <ng-template #header>
        <div class="image-container">
            <img alt="Card" class="w-full h-full" src="/images/mock-1.jpeg" />
        </div>
    </ng-template>
    <ng-template #title>
        <h1>Palace Hotel Cipanas</h1>
    </ng-template>
    <ng-template #subtitle> 
        <i class="pi pi-star-fill"></i>
    </ng-template>
    <div class="description-container flex align-items-center gap-1">
        <i class="pi pi-map-marker"></i>
        <p class="description">Cipanas</p>
    </div>
    <ng-template #footer>
        <div class="flex justify-content-end">
            <p class="price">Rp. 10.000</p>
        </div>
    </ng-template>
</p-card>