<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <div class="flex flex-column gap-2">
                <label for="hotel-name">Hotel Name</label>
                <input pInputText id="hotel-name" aria-describedby="hotel-name-help" formControlName="name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="flex flex-column gap-2">
                <label for="location">Location</label>
                <input pInputText id="location" aria-describedby="location-help" formControlName="location" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="flex flex-column gap-2">
                <label for="location">Description</label>
                <textarea rows="5" cols="30" pInputText formControlName="description"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p-button [class.btn-update]="action === 'update'" (click)="onSave()">{{ action == 'update' ? 'Update Data' : 'Save Data'}}</p-button>
        </div>
    </div>
</form>