.search-bar {
  background: #ffffff;
  border-radius: 0px;
  color: #222f3e;
  padding-left: 120px;
  padding-right: 120px;
  border: none !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.search-bar .search-destination,
.search-bar .search-detail{
  background-color: white;
}

p-datepicker{
  background-color: white;
}
