:host ::ng-deep .p-menubar {
  background: #ffffff;
  border-radius: 0px;
  color: #222f3e;
  padding-left: 120px;
  padding-right: 120px;
  border: none !important;
}

:host ::ng-deep .p-menubar .p-menubar-start .title {
  margin: 0;
  font-family: "Domine", serif;
}

:host ::ng-deep .p-menubar .p-menubar-end .btn-login .p-button-label {
  color: #ffffff;
}
