<div class="search-box-container">
    <p-card class="search-box">
       <div class="grid">
        <div class="col">
            <form [formGroup]="form">
                <p-select [options]="destination" formControlName="destination" [editable]="true" optionLabel="name" class="w-full md:w-56">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2" *ngIf="selectedOption">
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country #item>
                        <div class="flex items-center gap-2">
                            <div>
                                <p>{{ country.name }}</p>
                                <p>{{ country.location }}</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #dropdownicon>
                        <i class="pi pi-map-marker"></i>
                    </ng-template>
                </p-select>
            </form>
        </div>
       </div>
    </p-card>
    <div class="overlay"></div>
</div>