<p-menubar class="container">
    <ng-template #start>
        <p class="greetings">Welcome to Hotel List</p>
    </ng-template>
    <ng-template #end>
        <p-button label="Become a Partner" [link]="true" />
        <div class="card flex justify-center">
            <form [formGroup]="form">
                <p-select formControlName="language" [options]="listLang" optionLabel="name" class="w-full md:w-56">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2" *ngIf="selectedOption">
                            <img [src]="selectedOption.image" style="width: 18px; height: 18px;" />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-languages #item>
                        <div class="flex items-center gap-2">
                            <img [src]="languages.image" style="width: 18px; height: 18px;" />
                            <div>{{ languages.name }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </form>
        </div>
    </ng-template>
</p-menubar>