:host ::ng-deep .p-menubar {
  background: #f5f6fa;
  border-radius: 0px;
  color: #222f3e;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 120px;
  padding-right: 120px;
  border: none !important;
}

:host ::ng-deep .p-menubar .p-menubar-start .greetings {
  margin: 0;
}

:host ::ng-deep .p-menubar .p-menubar-end {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:host ::ng-deep .p-menubar .p-menubar-end .p-button-link {
  color: #222f3e;
}

:host ::ng-deep .p-menubar .p-menubar-end .p-select {
  width: 150px;
  background-color: #ffffff;
}

:host ::ng-deep .p-menubar .p-menubar-end .p-select .p-select-label {
  color: #222f3e;
}

@media (max-device-width: 900px) {
  :host ::ng-deep .p-menubar {
    padding: 0.5rem 0.85rem;
  }
  :host ::ng-deep .p-menubar .p-menubar-start .greetings{
    display: none;
  }
  :host ::ng-deep .p-menubar .p-menubar-end .p-button-link,
  :host ::ng-deep .p-menubar .p-menubar-end .p-select .p-select-label {
    font-size: 14px;
  }
  :host ::ng-deep .p-menubar .p-menubar-end .p-button-link{
    font-size: 14px;
  }
  :host ::ng-deep .p-menubar .p-menubar-end{
    gap: 10px;
  }
}
